*{
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  box-sizing: border-box;
}

  body {
    background: #eee;
  }
#halle {
    width: 100%;
    /* vh 螢幕高度 */
    height: 100vh;
    background-image: url(./img/halle.jpg);
    /* 背景-尺寸：填滿 - 50%、500px */
    background-size: cover;
    color: white;
    /* 背景-附著：固定 */
    background-attachment: fixed;
}
#halle nav,#halle-about nav {
  padding: 30px;
}
#halle a {
  color: slategrey;
  font-size: 20px;
  padding: 0 15px;
  /* 轉場-秒數 */
  transition: 0.3s;   
}
#halle a:hover {
  color: brown;
}
#halle p{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color:#c5ad8f;
  margin-top: 100px;
  opacity: 0.9;
}
#halle hr {
  width: 500px;
  margin: 0 auto;
}
#halle h1 {
  text-align: center;
  font-size: 100px;
  color: darkgrey;
  opacity: 0.7;
}
#news {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  background-color: #fff;
}

#news #news-left {
  height: 350px;
  background-image: url(./img/new-left.jpg);
}

#news #news-right {
  height: 350px;
  background-image: url(./img/new-right.jpg);
}
#news >div {
  text-align: center;
}

a.button {
  text-decoration: none;
  color: #aaa;
  border: 1px solid #aaa;
  padding: 10px 50px;
  transition: 0.5s;

}
a.button:hover {
  color: #fff;
  background-color:#aaa;
}
#news p {
  padding: 30px;
}
#box {
  background-attachment: fixed;
  background-image: url(./img/box.jpg);
}
#box h2{
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 100px 0;
  margin: 50px 0;
  backdrop-filter: blur(2px);
  font-weight: 100px;
}

#content {
  width: 1200px;
  margin: 0 auto;
}

#content div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

#content a {
  height: 350px;
  line-height: 350px;
  text-decoration: none;
  color: white;
  font-size: 32px;
  text-align: center;
}
#content a span {
  display: block;
  backdrop-filter: blur(3px) opacity(90%);
  transition: 0.5s;
}
#content a span:hover{
  backdrop-filter: blur(3px) opacity(20%);
}
#content #about {
  background-image: url(./img/about.jpg);
}
#content #contan {
  background-image: url(./img/conten.jpg);  
}

#map {
  width: 100%;
  height: 350px;
  margin-top: 150px;
}

footer {
  background: #252525;
  text-align: center;
  padding: 100px 0;
  color: white;
}
footer h2 {
  font-weight: 100;
  letter-spacing: 10px;
  padding-left: 10px;
  padding: 50px 0 40px;
  font-size: 30px;
}
footer h2 a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
footer h2 a:hover{
  color:rgb(122, 23, 23);
}
footer p {
  padding: 20px;
  font-size: 20px;
  color: #aaa;
  letter-spacing: 3px;
  padding-left: 3px;
}
#halle-about nav {
  backdrop-filter: opacity(90%);
}
#halle-about {
  width: 100%;
  /* vh 螢幕高度 */
  height: 400px;
  background-image: url(./img/about.jpg);
  /* 背景-尺寸：填滿 - 50%、500px */
  background-size: cover;
  color: white;
  /* 背景-附著：固定 */
  background-attachment: fixed;
  backdrop-filter: opacity(90%);
}
#halle-about a {
  color: slategrey;
  font-size: 20px;
  padding: 0 15px;
  /* 轉場-秒數 */
  transition: 0.3s;   
}
#halle-about a:hover {
  color: #fff;
}
#halle-about h2 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  letter-spacing: 20px;
  padding-left: 20px;
  backdrop-filter: opacity(90%);
  height: 30vh;
  line-height: 20vh;
}
/* 關於我內文 */
#about-content{
  width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 50px 80px;
  margin-top: 80px;
  margin-bottom: 100px;
}
#about-content h3 {
  text-align: center;
  padding: 20px;
  color: #ddd;
  letter-spacing: 10px;
  padding-left: 10px;
  font-weight: 100;
  /* 字母大寫 */
  text-transform: uppercase;
}

#about-content hr{
  width: 600px;
  margin: 0 auto;
}

#about-content h2{
  text-align: center;
  padding: 30px;
  color: #aaa;
  letter-spacing: 10px;
  padding-left: 10px;
  font-weight: 100;
}

#about-content #about1 {
  height: 350px;
  background-image: url(./img/about1.jpg);
  /* cover：圖片寬高比不變、鋪滿整個容器的寬高 */
  background-size: cover;
}
#about-content #about2 {
  height: 350px;
  background-image: url(./img/about2.jpg);
  /* cover：圖片寬高比不變、鋪滿整個容器的寬高 */
  background-size: cover;
}
#about-content #about3 {
  height: 350px;
  background-image: url(./img/about3.jpg);
  /* cover：圖片寬高比不變、鋪滿整個容器的寬高 */
  background-size: cover;
}
#about-content p{
  padding: 30px 0;
  line-height: 2;
  color: #888;
}
#form-self{
  width: 500px;
  padding: 10px 20px;
  margin: 100px auto;
  box-shadow:5px 5px 10px rgba(0,0,0,0.3);
  background: #CCEEFF;
  border-radius:10px;
}

#form-self #name,#form-self #pw,#form-self #mail,#form-self #job,#form-self #message {
  width: 100%;
  padding: 3px 0px;
  font-size: 16px;
  margin: 8px 0;
  /*   邊框：寬度 樣式 顏色  */
  border:1px solid rgba(0,0,0,0.1);
}
/* 保留文字：偽元素 - 沒有 HTML 但卻顯示在畫面上 */
#form-self ::placeholder {
  color: #ddd;
}

#form-self fieldset{
  padding:5px;
  margin: 8px 0;
  border:1px solid rgba(0,0,0,0.3);
}

#form-self legend{
  padding: 0 8px;
}
#form-self #agree {
  width: 15px;
  height: 15px;
}
#form-self #buttons{
  text-align:center;
}
/* 元素[屬性名稱=值] */
#form-self input[type=reset],#form-self input[type=submit] {
  margin: 10px 10px;
  padding: 10px 50px;
  color:white;
  background: 	#5599FF;
  border:0;
/*  轉場：轉場時間 s 秒數 */
  transition:0.5s;
}

/* 滑入 元素:hover */
#form-self input[type=reset]:hover,#form-self input[type=submit]:hover{
  background:#888888;
}